@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: "JetBrains Mono";
}

a {
    color: white;
    text-decoration: unset;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 60px;
}

.aboutme0 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.aboutme {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.aboutme img {
    border-radius: 50%;
    width: 10%;
    box-shadow: 0px 0px 10px 1px white;
}

.links {
    display: flex;
}

.link {
    fill: white;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.link:hover {
    fill: #1cff27;
    -webkit-transform: scale(1.05) perspective(1px);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.link svg {
    width: 40px;
}

.info {
    display: flex;
    flex-direction: column;
}

.infoText {
    margin-block-start: 0;
    margin-block-end: 0;
    text-wrap: wrap;
}

.experience {
    display: flex;
    flex-direction: column;
}

.experienceBox {
    border: 2px white solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.experienceBox img {
    width: 40%;
    height: auto;
}

.experienceText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.projectsBox {
    background-color: rgb(46, 46, 46);
    border: 2px white solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.projectsBox:hover {
    border: 2px #1cff27 solid;
    -webkit-transform: scale(1.05) perspective(1px);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.projectsBox img {
    width: 40%;
}

.projectsText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectsBox span {
    font-weight: bold;
}

.projectsBox:hover span {
    font-weight: bold;
    color: #1cff27;
}

.projectInfo {
    display: flex;
    gap: 10px;  
    align-items: center;
}

.learningProjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.learningProjectsRow {
    display: flex;
    gap: 20px;
    width: 100%;
}

.learningProjectsBox {
    width: auto;
    background-color: rgb(46, 46, 46);
    border: 2px white solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.learningProjectsBox:hover {
    border: 2px #1cff27 solid;
    -webkit-transform: scale(1.05) perspective(1px);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}